#integration2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.red {
    color: red;
    background-color: yellow;
}

.white {
    color: white;
    background-color: black;
}

.blue {
    color: blue;
    background-color: violet;
}