.integration1 .red {
    color: red;
    background-color: yellow;
}

.integration1 .white {
    color: white;
    background-color: black;
}

.integration1 .blue {
    color: blue;
    background-color: violet;
}