<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 style='color: red'>Everthing is OK</h1>
    <hr>
    <P>This PDF has a lot of content!</P>
    <P>Name: <%= username %></P>
    <P>Course: <% course %></P>
    <p>Category: <%= category %></p>
</body>

</html>  